<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ site.css.src }}">
    <script src="{{ site.js.src }}" defer></script>
  </head>

  <body>
    {{> app }}
  </body>
</html>
